version: "3.8"

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    env_file:
      - ../app/.env
    depends_on:
      - db
    ports:
      - "5000:5000"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: vulndb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
