name: CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            echo "=== Who am I ==="
            whoami
            pwd

            echo "=== Go to project ==="
            cd /home/${{ secrets.EC2_USER }}/enterprise_devsecops_lab

            echo "=== List docker directory ==="
            ls -R docker

            echo "=== Docker versions ==="
            docker --version
            docker compose version

            echo "=== Deploy containers ==="
            docker compose -f docker/docker-compose.yml down
            docker compose -f docker/docker-compose.yml up -d --build
